<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bhjbestkalyangame.realapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SpecialGameCongratulations" />
        <activity
        android:name=".SendNotificationToUsers"
         />
        <activity android:name=".PurchaseSpecialGame" />
        <activity android:name=".SuccessStories" />
        <activity android:name=".ChattingActivity" />
        <activity android:name=".GetMoreCoins" />
        <activity android:name=".KalyanMatkaNight" />
        <activity android:name=".KalyanMatkaDay" />
        <activity android:name=".SubscriptionPurchaseCongratulations" />
        <activity android:name=".ProductPurchaseCongratulations" />
        <activity android:name=".GetNewTicket" />
        <activity android:name=".UsersLogin" />
        <activity android:name=".InAppSubscription" />
        <activity android:name=".InAppProducts" />
        <activity android:name=".GetCoinsActivity" />
        <activity android:name=".WatchVideoToGetReward" />
        <activity android:name=".CongratulatingReward" />
        <activity android:name=".Disclaimer" />
        <activity android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".KalyanMatkaResults" />
        <activity android:name=".KalyanMatkaInterface" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4453843474169453~8814631813" />

        <service
            android:name=".Service.FirebaseMessagingService"
            tools:ignore="ExportedService"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>